.App {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

.App-button {
  height: 10px;
  width: 5px;
  color: orange;
  font-weight: bold;
  text-align: center;
}

.App-calendar {
  height: 500px;
  background-color: white;
}

.App-header {
  text-align: center;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: #B3AA00;
}

.App-footer {
  height: 30px;
  margin-bottom: 30px;
  padding: 20px;
  color: #B3AA00;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-textbox {
  height: 20px;
  color:#B3AA00;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
